.image-viewer {
  width: 100%;
  height: 400px;
}

.image-viewer .images-pane {
  flex: 1;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  position: relative;
  overflow-x: hidden;
}

.images-pane .project-pane {
  border: var(--BORDER);
  /* background-color: var(--LIGHT-BLACK); */
  background-color: var(--WHITE);
  position: absolute;
}
.images-pane .project-pane:hover {
  cursor: pointer;
}

.project-pane .project-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
